@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Roboto+Flex:opsz@8..144&family=Rubik&family=Teko:wght@300&display=swap');

/*

    use font families

        font-family: 'Bebas Neue', cursive;
        font-family: 'Fjalla One', sans-serif;
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-family: 'Roboto Flex', sans-serif;
        font-family: 'Rubik', sans-serif;
        font-family: 'Teko', sans-serif;

*/

.login-btn-nav {
    width: 100px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea);
    transition: 0.5s;
}

.login-btn-nav:hover {
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.678), 0 3px 10px 0 rgba(255, 255, 255, 0.596);
}

.home {
    background: -webkit-linear-gradient(rgba(70, 70, 70, 0.7), rgba(0, 0, 0, 0.7)), url(../images/car1.jpg);
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
}

.home-content {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 250px;
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
}

.home-content .title {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
}

.gallery {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

.gallery-content {
    text-align: center;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 50px;
}

.gallery .grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d" "e f g h";
}

.gallery-item1 {
    grid-area: a;
    border: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(49, 49, 49, 0.7), rgba(65, 65, 65, 0.7)), url(../images/car1.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 100px;
    text-align: center;
}

.gallery-item2 {
    grid-area: b;
    border: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(49, 49, 49, 0.7), rgba(65, 65, 65, 0.7)), url(../images/car2.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 100px;
    text-align: center;
}

.gallery-item3 {
    grid-area: c;
    border: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(49, 49, 49, 0.7), rgba(65, 65, 65, 0.7)), url(../images/car3.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 100px;
    text-align: center;
}

.gallery-item4 {
    grid-area: d;
    border: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(49, 49, 49, 0.7), rgba(65, 65, 65, 0.7)), url(../images/car4.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 100px;
    text-align: center;
}

.gallery-item5 {
    grid-area: e;
    border: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(49, 49, 49, 0.7), rgba(65, 65, 65, 0.7)), url(../images/car5.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 100px;
    text-align: center;
}

.gallery-item6 {
    grid-area: f;
    border: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(49, 49, 49, 0.7), rgba(65, 65, 65, 0.7)), url(../images/car6.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 100px;
    text-align: center;
}

.gallery-item7 {
    grid-area: g;
    border: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(49, 49, 49, 0.7), rgba(65, 65, 65, 0.7)), url(../images/car7.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 100px;
    text-align: center;
}

.gallery-item8 {
    grid-area: h;
    border: none;
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(49, 49, 49, 0.7), rgba(65, 65, 65, 0.7)), url(../images/car8.jpg);
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-top: 100px;
    text-align: center;
}

.contact {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(245, 245, 245);
}

.contact-content {
    text-align: center;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 50px;
}

.contact-body {
    padding-left: 630px;
}
